table{
    border-collapse: collapse;
}

th, td{
    width:90px;
    text-align:left;
    padding:6px
}

td:nth-last-child(1){
    color: red;
    font-weight: bold;
}

th, td:nth-last-child(3){
width: 40px;
}